/* color palate */
/* #130c02 - black */
/* #ff9f1c - dark orange */
/* #ffbf69 - light orange */
/* #ffffff - white */
/* #cbf3f0 - light cyan */
/* #2ec4b6 - tiffany blue */

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 200px;
}

.high-score {
	color: #130c02;
	margin: 0.9em;
	padding: 0.9em;
}

.high-score:hover {
	background-color: #2ec4b6;
    color: #ffffff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.game-btn {
	background-color: #130c02;
	color: #ffffff;
	margin: 0.9em;
    padding: 0.9em;
    /* border: none; */
}

.username {
	margin: 0.9em;
    padding: 0.9em;
    border: none;
    border-color: #ffffff;
}


.username:hover {
	background-color: #000000;
	color: #ffffff;
}

.score-board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
    align-items: center;
}

.player-1-score{
    border: 1px solid black;
    width: 150px;
    height: 50px;
    border-radius: 1em;
}

.score{
    text-align: center;
}

.score-spacer{
    background-color: #ff9f1c;
    color: #ffffff;
    width: 100px;
    height: 50px;
    border: none;
}

.score-spacer:hover{
    background-color: #df981d;
    color: #ffffff;
    width: 100px;
    height: 50px;
}

.player-2-score{
    border: 1.2px solid black;
    width: 150px;
    height: 50px;
    border-radius: 1em;
}

.sensor{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;   
}

.p1-sensor{
    background-color: #e0e0e0;
    width: 50px;
    height: 50px;
    border-radius: 3em;
    margin: 25px;
}

.spacer-sensor{
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 3em;
    margin: 25px
}

.p2-sensor{
    background-color: #e0e0e0;
    width: 50px;
    height: 50px;
    border-radius: 3em;
    margin: 25px
}

.game-zone {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.card-1-face {
	width: 325px;
	height: 600px;
    margin: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.card-1-back {
	width: 325px;
	height: 600px;
    margin: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

/* .card-1-face:hover {
	width: 325px;
	height: 600px;
    margin: 10px;
    border-radius: 1em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
} */

.deal-btn {
	background-color: #000000;
	color: #ffffff;
	margin: 0.9em;
    padding: 2em;
    border-radius: 1em;
    border: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.deal-btn:hover {
	background-color: #3ae7d6;
	color: #ffffff;
	margin: 0.9em;
    padding: 2em;
    border-radius: 1em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.card-2-face {
	width: 325px;
	height: 600px;
    margin: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.card-2-back {
	width: 325px;
	height: 600px;
    margin: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}
/* .card-2-face:hover {
	width: 325px;
	height: 600px;
    margin: 10px;
    border-radius: 1em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
} */

.card-title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	color: #ffffff;
}

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.footer-image {
	width: 150px;
	height: 45px;
	margin-top: 10px;
}

.copyright {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-weight: 100;
    color: #b9b9b9;
    font-size: small;
}

/* ////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////// */
